.mywork {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin: 50px 100px;  /* same margins as Education */
}

.mywork-title {
  position: relative;
}

.mywork-title h1 {
  padding: 0 20px;
  font-size: 50px;
  font-weight: 600;
}

.mywork-title img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 70px;
  height: 60px;
}

.mywork-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin-bottom: 50px;
}

/* Project card styling */
.mywork-card {
  width: 100%;
  height: 220px;       /* short card height */
  border-radius: 10px;
  overflow: hidden;    /* ensures image stays inside card */
  cursor: pointer;
  border: 2px solid white;
  transition: transform 0.5s, border 0.5s;
}

.mywork-card img {
  width: 100%;         /* full width */
  height: 100%;        /* full height */
  object-fit: cover;   /* cover entire card without distortion */
  transition: transform 0.5s;
}

.mywork-card:hover {
  transform: scale(1.05);
  border: 2px solid #ff8dc7;
}

/* =========================
   Responsive
   ========================= */
@media (max-width: 768px) {
  .mywork {
    gap: 50px;
    margin: 20px 70px;
    align-items: start;
  }

  .mywork-title h1 {
    font-size: 35px;
  }

  .mywork-title img {
    width: 60px;
  }

  .mywork-container {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .mywork-card {
    height: 150px;  /* smaller height for mobile */
  }

  .mywork-card img {
    height: 100%;
  }
}
