*{
  margin: 0;
  padding: 0;
}

body{
  height: 100vh;
  font-family: outfit;
 background: linear-gradient(90deg, rgb(18, 18, 22) 0%, rgb(18, 18, 22) 7.692%, rgb(22, 23, 26) 7.692%, rgb(22, 23, 26) 15.385%, rgb(26, 27, 31) 15.385%, rgb(26, 27, 31) 23.077%, rgb(31, 32, 35) 23.077%, rgb(31, 32, 35) 30.769%, rgb(35, 36, 39) 30.769%, rgb(35, 36, 39) 38.462%, rgb(39, 40, 43) 38.462%, rgb(39, 40, 43) 46.154%, rgb(43, 44, 47) 46.154%, rgb(43, 44, 47) 53.846%, rgb(47, 48, 51) 53.846%, rgb(47, 48, 51) 61.538%, rgb(50, 51, 55) 61.538%, rgb(50, 51, 55) 69.231%, rgb(54, 55, 58) 69.231%, rgb(54, 55, 58) 76.923%, rgb(56, 57, 61) 76.923%, rgb(56, 57, 61) 84.615%, rgb(59, 60, 64) 84.615%, rgb(59, 60, 64) 92.308%, rgb(61, 62, 66) 92.308%, rgb(61, 62, 66) 100%);
  color: white;
  
}